body {
	background-color: transparent;
}

.color-list {
	list-style: none;
	padding: 0;
}

.color-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
	border: 1px solid var(--vscode-input-border);
}

.color-preview {
	width: 2em;
	height: 2em;
}

.color-preview:hover {
	outline: inset white;
}

.color-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
}

.new-code-snapshot-button {
	display: block;
	border: none;
	margin: 5 auto;
}

.new-file-snapshot-button {
	display: block;
	border: none;
	margin: 5 auto;
}

.new-project-snapshot-button {
	display: block;
	border: none;
	margin: 5 auto;
}

.edit-comment-button {
	display: block;
	border: none;
	margin: 5 auto;
	width: 100px;
	display: inline-block;
}

.buttons-row
{
    width:100%;
    text-align: center;
	padding-top: 5px;
}

.cancel-button {
	display: block;
	border: none;
	margin: 5 auto;
	width: 100px;
	margin-right: 30px;
	display: inline-block;
	color: var(--vscode-button-secondaryForeground);
	background: var(--vscode-button-secondaryBackground);
}

.cancel-button:hover {
	background: var(--vscode-button-secondaryHoverBackground);
}

.ghost {
	display: none;
}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	padding-top: 5px;
	display: block;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
	padding: 3px 15px;
	display: block;
}

.prova{
	display: block;
}

.text-box{
	display: block;
}

.comment-card {
	border-radius: 5px;
	border: 2px solid #2e2f2c;
	padding: 20px;
}

.comment-padding {
	padding-top: 5px;
}

.subtitle-padding {
	padding-top: 15px;
}